td.img-thumbnail-wrapper{
    width:30px;
    padding:6px;

    background-color: #bdc3c7;
     transition:.5s
}


.table tr td{
    cursor:pointer
}
.td-center {
    display: flex;
    align-items: center;
    height: 100%;
}

tr:hover td.img-thumbnail-wrapper{
    padding:0px;
}

.table {
    border-radius: 10px;
}

td .img-thumbnail-item{
    border-radius: inherit;
}